name: Generate Snake Game

on:
  schedule:
    - cron: "0 0 * * *"  # runs every day at midnight
  workflow_dispatch:       # allows manual run

jobs:
  build:
    name: Generate snake animation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake Game from GitHub contribution grid
        uses: Platane/snk@v3.3.0
        with:
          github_user_name: Tangy-Cheese
          github_token: ${{ secrets.GITHUB_TOKEN }}
          outputs: |
            dist/snake.svg?palette=github-dark&color_snake=#00ff99&color_dots=#333333,#66ff99,#33cc66,#00cc99,#009966

      - name: Push generated files
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
